{% extends "base.html.j2" %}
{% from "render_field.html.j2" import render_field %}
{% block content %}
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="card">
              <div class="card-header">Change Password</div>
              <div class="card-body">
                <form class="form-horizontal">
                  {{ render_field(form.password, placeholder="Password") }}
                  {{ render_field(form.confimPassword, placeholder="Confirm Password") }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}