{% extends "base.html.j2" %}
{% from "render_field.html.j2" import render_field %}
{% block content %}
<div class="py-5">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <b>Edit User</b> {{ username }}
          </div>
          <div class="card-body">
            <form method="POST" role="form" class="form-horizontal">
              {{ form.csrf_token }}
              {{ render_field(form.email, placeholder="Email") }}
              {{ render_field(form.password, placeholder="Password") }}
              {{ render_field(form.confimPassword, placeholder="Confirm Password") }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}