{% extends "base.html.j2" %}
{% block content %}
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-dismissable alert-danger">
              <b>You need to authenticate properly before you can access this application.</b>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}